<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-4">Angular Todo-List App !!</h1>
    <p class="lead">
      This is a useful app to make your day productive. You can create a
      todo-task and mark it as Done!!. You can also delete the todo-task if you
      feel that it is of no use.
    </p>
    <hr class="my-4" />
    <p>
      The app is made using modern frontend framework called Angular. for styles
      we have used Bootstrap. For storing your data, we are using web-api
      (local-storage).
    </p>
  </div>
</div>
